@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');


body {
    font-family: Arial, sans-serif;
  }

  .intro {
    text-align: center;
    margin-bottom: 20px;
  }

  .person-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  .likes {
    font-size: 18px;
    color: #666;
  }

  .highlight {
    color: #FF5733;
    font-weight: bold;
  }